


<div class="FORM">
<form class="form"  action='' method="post">
    <label class="text">Add Name :         
     <input  type="text"  id ="name" name="name"   value="<%= menu.name%>" placeholder=" name...." required>
 </label>
     <label class="text">Price (gh) :
     <input type="text"  id="price" name="price" value="<%= menu.price%>" placeholder="price" required>
 </label>
     <label class="text_1">Supplement:
     <textarea  name="supplementary" id="supplementary"  placeholder="supplementary" required> <%= menu.supplementary%></textarea>
 </label>
     <button  class="com_bt" type="submit" value="Submit">send</button>
 </form>

</form>
</div>


<script src="/js/index.js"></script>

