<div class="contact">
    <div class="card_c">
        <div class="us_card">
 
          <form method="post" action="">
              <h3 class="delete">
                You sure about this?</h3>
              
              <button class="btn_delete" ><a href="/orders">no </a></button>
              <button  class="btn_delete" type="submit" value="Submit">yes</button>
          </form>
        </div>
    </div>
  </div>

  <script src="/js/index.js"></script>